.container {
  margin: 0 auto;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  flex-direction: column;
  width: 1600px;
}

.project {
  display: flex;
  color: #212121;
  font-family: Roboto, serif;
  font-size: 26px;
  font-weight: 700;
  height: 159px;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 25px 0 25px 0;
  flex-direction: column;
}

.inputProjectMenu {
  width: 340px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  display: flex;
  margin-bottom: 10px;
}

.labelProjectInput {
  color: #212121;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 700;
}

.projectDescription{
  display: flex;
  flex-direction: column;
}

.projectDescriptionTextArea{
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  padding-left: 10px;
}

.projectDescriptionTextArea:focus{
  border: 2px solid #dddddd;
}

.userList{
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}

.borderUserList{
  display: flex;
  flex-direction: column;
  border: 2px solid #dddddd;
  height: 280px;
  overflow: auto;
}

.taskAndProjectLink{
  text-decoration: none;
  border-bottom: 1px dashed #212121;
  color: #212121;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 400;
}


.taskAndProjectLink:hover,.taskAndProjectLink:focus{
  color: #212121;
  text-decoration: none;
}

.taskAndProjectLink:visited{
  color: #212121;
}

.inputProjectSubmit {
  width: 130px;
  height: 40px;
  box-shadow: 0 3px 6px #f4f4f4;
  border-radius: 5px;
    background-color: #f4f4f4;
    color: black;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 700;
  transition: 2s;
  margin-top: 20px;
}

.inputProjectSubmit:hover {
  color: #f4f4f4;
  background-color: black;
}

.userListSelect{
  width: 100px;
  margin: 10px 10px 10px;
}

.userLinkMargin{
  margin: 0 10px 10px 10px;
}

.buttonMargin{
  margin-left: 10px;
}

::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:6px;
  height:0;
}

::-webkit-scrollbar-track {
  background-color:#dddddd;
  box-shadow:0 0 3px #000 inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#f4f4f4;
  box-shadow:0 1px 1px #fff inset;
  background-image:url('https://yraaa.ru/_pu/24/59610063.png');
  background-position:center;
  background-repeat:no-repeat;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:7px;
  height:0;
}

::-webkit-scrollbar{
  width: 11px;
}

.containerLeftAndRight{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.inputCenter{
  display: flex;
  justify-content: center;
}

.containerProjectAndTitle{
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: space-between;
  width: 60%;
}

.userDiv{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 300px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  width: 45%;
}


.errorStyle{
  color: red;
  font-size: 13px;
  padding: 3px 0 3px 0;
}

.inputRegisterMenu {
  width: 440px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  display: flex;
}

.inputRegisterMenuButton {
  width: 140px;
  height: 40px;
  box-shadow: 0 3px 6px #f4f4f4;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 700;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inputRegisterMenuButton:hover {
  color: #f4f4f4;
  background-color: black;
  text-decoration: none;
}

.inputProjectMenuForUser{
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  padding-left: 10px;
  display: flex;
  margin-right: 10px;
}

.inputProjectMenuForUser:focus{
  color: black;
}

.deleteButton {
  width: 100px;
  height: 40px;
  box-shadow: 0 3px 6px #f4f4f4;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 700;
  transition: 2s;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.deleteButton:hover {
  color: #f4f4f4;
  background-color: black;
}

.LinkForInput{
  color: #666;
}

.LinkForInput:hover{
  text-decoration: none;
    color: #666;
}


.forInputAndButton{
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
}

.marginTopForInput{
  margin-top: 20px;
}

.containerForForm{
  margin-top: 25px;
  margin-left: 20px;
}

.inviteInProject{
  display: flex;
  flex-direction: column;
  color: #212121;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 400;
}

.inviteProjectLink{
  text-decoration: none;
  border-bottom: 1px dashed #212121;
  margin-left: 10px;
  color: #212121;
}

.inviteProjectLink:hover,.inviteProjectLink:focus{
  color: #212121;
  text-decoration: none;
}

.inviteProjectLink:visited{
  color: #212121;
}

.textAndLindInvite{
  display: flex;
  flex-direction: row;
}

.taskContainer{
  display: flex;
  flex-direction: column;
}

.taskDirection{
  margin-bottom: 10px;
  width: 100%;
  padding: 0 10px 0 10px;

}

.containerForTask{
  overflow:auto;
  height: 300px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  width: 70%;
}

.description{
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  overflow: auto;
  height: 300px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.textProejctAndTask {
  color: #212121;
  font-family: Roboto, serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.usersListDirection{
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

.descriptionText{
  display: flex;
  justify-content: center;
  color: #212121;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px 0 10px;
}

.titleProjectLink{
  text-decoration: none;
  border-bottom: 1px dashed #212121;
  color: #212121;
  font-family: Roboto, serif;
}

.titleProjectLink:hover,.titleProjectLink:focus{
  color: #212121;
  text-decoration: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
