.container {
  margin: 0 auto;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
}

.project {
  display: flex;
  color: #212121;
  font-family: Roboto, serif;
  font-size: 26px;
  font-weight: 700;
  height: 159px;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 25px 0 25px 0;
}

.inputProjectMenu {
  width: 340px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  padding-left: 10px;
  display: flex;
  margin-bottom: 10px;
}

.labelProjectInput {
  color: #212121;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 700;
}

.projectDescription{
  display: flex;
  flex-direction: column;
}

.projectDescriptionTextArea{
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: white;
  padding-left: 10px;
}

.projectDescriptionTextArea:focus{
  border: 2px solid #dddddd;
}

.userList{
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}

.borderUserList{
  display: flex;
  flex-direction: column;
  border: 2px solid #dddddd;
  height: 280px;
  overflow: auto;
}

.taskAndProjectLink{
  text-decoration: none;
  color: #212121;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 400;
}


.taskAndProjectLink:hover,.taskAndProjectLink:focus{
  color: #212121;
  text-decoration: none;
}

.taskAndProjectLink:visited{
  color: #212121;
}

.inputProjectSubmit {
  width: 130px;
  height: 40px;
  box-shadow: 0 3px 6px rgba(2, 136, 209, 0.5);
  border-radius: 5px;
  background-color: #03a9f4;
  color: #ffffff;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 700;
  transition: 2s;
  margin-top: 20px;
}

.inputProjectSubmit:hover {
  color: #03a9f4;
  background-color: #ffffff;
}

.userListSelect{
  width: 100px;
  margin: 10px 10px 10px;
}

.userLinkMargin{
  margin: 0 10px 10px 10px;
}

.buttonMargin{
  margin-left: 10px;
}

::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:6px;
  height:0;
}

::-webkit-scrollbar-track {
  background-color:#dddddd;
  box-shadow:0 0 3px #000 inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#03a9f4;
  box-shadow:0 1px 1px #fff inset;
  background-image:url('https://yraaa.ru/_pu/24/59610063.png');
  background-position:center;
  background-repeat:no-repeat;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:7px;
  height:0;
}

::-webkit-scrollbar{
  width: 11px;
}

.containerLeftAndRight{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 850px;
}

.inputCenter{
  display: flex;
  justify-content: center;
}

.containerProjectAndTitle{
  width: 40%;
}

#app{
  display: flex;
  flex-direction: column;
  width: 300px;
}



